*{margin: 0; padding: 0; box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-image: radial-gradient(circle, #65da91, #184618);
}

.titulo-cadastro{
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 35px;
    font-family: "Poppins", sans-serif ;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(164, 164, 164, 1);
}


.login-box{
    margin-inline: auto;
    margin-bottom: 10%;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px black;
    z-index: -5;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(164, 164, 164, 1);
}

.welcome{
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

label{
    margin-left: 0;
    color: white;
    font-weight: bold;
}


input[type="text"], input[type="password"]{
    background-color: rgba(255, 255, 255, 0);
    width: 90%;
    height: 45px;
    padding: 10px;
    border: 0px solid black;
    border-bottom: solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
}

label {
    display: flex;
    transform: translateY(40px);
    padding-left: 30px;
    padding-bottom: 10px;
    text-align: left;
}

label:hover, label:focus{
    transform: translateY(-5px);
    transition: 1s;

}

input::placeholder{
    color: #00000000;
}

input:hover::placeholder{
    transition: 2s;
    color: #ffffff;
}


.login-check {
    font-family: 'Poppin', sans-serif;
    width: 60%;
    color: #000000;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 50px;
    border: 2px solid #000000;
    background: #ffffff;
    /* background: linear-gradient(to top, #00EE7F, #06CF71); */
  }

.login-check:hover {
    color: #E8E8E8;
    border: 2px solid #000000;
    background: #00d170;
    background: linear-gradient(to top, #01c067, #06CF71);
}

@media screen and (max-width: 600px) {
    .login-box{
        max-width: 300px;
    }
    

}
