*{margin: 0; padding: 0; box-sizing: border-box;}

.fretes_banner{
    animation: showItens 2s ease 0s normal none;
    display: flex;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60%;
    
}

.opicoes_fretes{
    justify-content: space-around;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.titulo{
    margin-top: 20px;
    text-align: center;
    color: #000000;
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    
}

.planos{
    margin-top: 20px;
    text-align: center;
    color: #366AB9;
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.comum{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: auto;
    
}

.express{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: auto;
    
}

@keyframes showItens {
    0% {
      transform: scale(0.5);
      transform-origin: 50% 0%;
    }
  
    100% {
      transform: scale(1);
      transform-origin: 50% 0%;
    }
  }