*{margin: 0; padding: 0; box-sizing: border-box;}

.index_banner{
    animation: showItens 2s ease 0s normal none;
    display: flex;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60%;
    
}

.veja-servicos{
    animation: vibrate 5s ease 0s infinite normal none;
    margin-top: -32px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: #366AB9;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.wrap{
    animation: customAni 2s ease 0s normal none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

.op-servicos{
    width: 150px;
    height: 150px;
    background-color: rgb(45, 255, 157);
    border-radius: 50%;
}

.imagem-servicos{
    display: flex;
    margin-top: 13%;
    margin-bottom: auto;
    margin-inline: auto;
    width: 100px;
    height: auto; 
}

@media screen and (max-width: 600px) {
    .wrap{
      display: flex;
      margin-right: auto;
      margin-left: auto;
      max-width: fit-content;
      flex-direction: column;
      justify-content: space-between;
    }

    .op-servicos{
      margin-bottom: 20px;
    }

}

@keyframes vibrate {
    0% {
      transform: translate(0);
    }
  
    20% {
      transform: translate(-2px, 2px);
    }
  
    40% {
      transform: translate(-2px, -2px);
    }
  
    60% {
      transform: translate(2px, 2px);
    }
  
    80% {
      transform: translate(2px, -2px);
    }
  
    100% {
      transform: translate(0);
    }
  }
  
  @keyframes showItens {
    0% {
      transform: scale(0.5);
      transform-origin: 50% 0%;
    }
  
    100% {
      transform: scale(1);
      transform-origin: 50% 0%;
    }
  }
  